#mapContainer {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    margin: 0;
}

.layui-logo {
    width: 400px !important;
}

.layui-layout-admin .layui-side {
    position: absolute;
    width: 400px;
}

.layui-layout-left {
    /*position: absolute!important;*/
    left: 400px;
}

.layui-side-scroll {
    width: 420px;
}

.layui-nav-tree {
    width: 400px;
}

.layui-layout-admin .layui-body {
    top: 60px;
    bottom: 0px;
    left: 400px;
}

.site-h1 {
    margin-bottom: 20px;
    line-height: 60px;
    /*padding-bottom: 10px;*/
    color: #393D49;
    border-bottom: 1px solid #eee;
    font-size: 28px;
    font-weight: 300;
}